<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <button type="button" class="btn btn-default pull-right" ng-click="expandNewProductPanel()" ng-disabled="!isNewProductoPanelCollapsed">Añadir producto</button>
                <button type="button" class="btn btn-primary pull-right" ng-click="expandNewGeneroPanel()"  ng-disabled="!isNewGeneroPanelCollapsed">Añadir género</button>
            </div>
            <br>
            <div uib-collapse="isNewGeneroPanelCollapsed">
                <div class="well well-lg" ng-include="'admin/newGenero.html'"></div>
            </div>
            <div uib-collapse="isNewProductoPanelCollapsed">
                <div>
                    <div class="well well-lg" ng-include="'admin/newProducto.html'"></div>
                </div>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Nombre de género</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody data-ng-repeat="genero in generos.list" data-ng-switch on="generoDataCollapse[$index]">
                    <tr ng-class-odd="'table-striped-odd-row'">
                        <td data-ng-click="selectTableRow($index)"><a href oncontextmenu="return false;">{{genero.name}}</a></td>
                        <td><a href oncontextmenu="return false;" ng-click="print()">Editar</a></td>
                    </tr>
                    <tr data-ng-switch-when="true">
                        <td colspan="3">
                            <div>
                                <genero genero="genero"></genero>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>