<form id="editProductoForm" name="editProductoForm" novalidate role="form" class="form">
    <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title">Editar Producto</h1>
        </div>
        <div class="modal-body">
            <div class="form-horizontal">
                <div class="form-group" ng-class="{ 'has-error has-feedback': isInvalidUserInput(editProductoForm.nombre)}">
                    <label for="productoNombre" class="col-sm-3 control-label">Nombre del producto</label>
                    <div class="col-sm-9">
                        <input type="text" name="productoNombre" id="productoNombre" class="form-control" ng-model="producto.nombre" required/>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error has-feedback': isInvalidUserInput(editProductoForm.imagen)}">
                    <label for="productoImage" class="col-sm-3 control-label">Imagen (5MB max)</label>
                    <div class="col-sm-9">
                        <label ng-hide="producto.image" class="btn btn-default">
                            Seleccionar<input type="file" ngf-select ng-model="producto.image" accept="image/*" ngf-max-size="5MB" name="productoImage"/>
                        </label>
                        <button ng-show="producto.image" class="btn btn-default" ng-click="removeImage()">Eliminar</button>
                        <i ng-hide="producto.image">&nbsp;No hay ninguna imagen seleccionada</i>
                        <img ng-hide="producto.image === undefined" ngf-thumbnail="producto.image" class="image-displayer" alt="Imagen del producto"/><br/>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error has-feedback': isInvalidUserInput(editProductoForm.formatos)}">
                    <label for="showProductoFormatos" class="col-sm-3 control-label">Formatos (cantidad y unidad de medida)</label>
                    <div class="col-sm-9">
                        <div ng-repeat="productoFormato in producto.listaFormatos track by $index">
                            <div class="row">
                                <div class="col-sm-10">
                                    <input type="number" class="form-control" ng-model="productoFormato.cantidad" ng-disabled="true"/>
                                    <input type="text" class="form-control" ng-model="productoFormato.unidadMedida" ng-disabled="true"/>
                                </div>
                                <div class="col-sm-2">
                                    <button class="btn btn-primary" type="button" ng-click="removeFormato($index)"><span class="glyphicon glyphicon-minus"></span></button>
                                </div>
                            </div>
                        </div>
                        <p ng-show="isListaFormatosEmpty()" class="text-center">No hay formatos</p>
                        <hr>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error has-feedback': isInvalidUserInput(editProductoForm.formatos)}">
                    <label for="AddProductoFormatos" class="col-sm-3 control-label"></label>
                    <div class="col-sm-9">
                        <ng-form name="formatosForm" name="formatos-form" class="form-horizontal" isolate-form>
                            <div class="form-group" ng-class="{ 'has-error has-feedback': isInvalidUserInput(formatosForm.cantidad)}">
                                <label for="formatoCantidad" class="col-sm-3 control-label">Cantidad</label>
                                <div class="col-sm-9">
                                    <input type="number" name="formatoCantidad" id="formatoCantidad" class="form-control" ng-model="formato.cantidad"/>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error has-feedback': isInvalidUserInput(formatosForm.nombre)}">
                                <label for="formatoUnidadMedida" class="col-sm-3 control-label">Unidad de medida</label>
                                <div class="col-sm-9">
                                    <input type="text" name="formatoUnidadMedida" id="formatoUnidadMedida" class="form-control" ng-model="formato.unidadMedida"/>
                                </div>
                            </div>
                            <button type="submit" ng-disabled="formatosForm.$invalid" class="btn btn-primary" ng-click="addFormato()">Añadir formato</button>
                        </ng-form>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" ng-disabled="editProductoForm.$invalid" class="btn btn-primary" ng-click="updateProducto()">Guardar</button>
            <button class="btn btn-primary" ng-click="cancel()">Cancelar</button>
        </div>
    </div>
</form>