<form id="newProductoForm" name="newProductoForm" novalidate role="form" class="form">
    <div class="form-horizontal">
        <div class="form-group" ng-class="{ 'has-error has-feedback': isInvalidUserInput(newProductoForm.nombre)}">
            <label for="productoNombre" class="col-sm-3 control-label">Nombre del producto</label>
            <div class="col-sm-9">
                <input type="text" name="productoNombre" id="productoNombre" class="form-control" ng-model="producto.nombre" required/>
            </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error has-feedback': isInvalidUserInput(newProductoForm.genero)}">
            <label for="generoProducto" class="col-sm-3 control-label">Género</label>
            <div class="col-sm-9">
                <select ng-model="producto.genero" ng-options="generoItem._links.genero.href as generoItem.name for generoItem in generos.list" id="rcc" name="generoProducto" class="form-control" required>
                    <option value="">Selecciona Género</option>
                </select>
            </div>
        </div>
    </div>
    <button type="submit" ng-disabled="newProductoForm.$invalid" class="btn btn-primary" ng-click="saveProducto()">Guardar</button>
    <button class="btn btn-primary" ng-click="cancel()">Cancelar</button>
</form>