<!DOCTYPE html>
<html>
    <head>
        <title>Aceitunas Sanchez Montes</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <base href="/" />
        <%= style_block %>
    </head>
    <body ng-app="app" ng-controller="accionesMenuController">
        <div id="wrapper" ng-class="{'active': menuMostrado}">
            <!-- Sidebar -->
            <div id="sidebar-wrapper" ng-include="'menu/leftMenu.html'" ng-cloak class="ng-cloak"></div>
            <!-- Page content -->
            <div id="page-content-wrapper">
                <div class="content-header" ng-include="'menu/header.html'"></div>
                <div class="page-content inset" data-spy="scroll" data-target="#spy">
                    <div ng-view></div>
                    <div ng-include="'menu/footer.html'"></div>
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
        <%= script_block %>
    </body>
</html>
