<nav>
    <ul class="sidebar-nav nav">
        <li class="sidebar-brand">
            <a href="/" ng-click="mostrarMenu()">
                <span class="fa fa-home solo">Inicio</span>
            </a>
        </li>
        <li>
            <a href="/productos" ng-click="mostrarMenu()">
                <span class="fa fa-anchor solo" >Productos</span>
            </a>
        </li>
        <li>
            <a href="/dondeEstamos" ng-click="mostrarMenu()">
                <span class="fa fa-anchor solo">Donde estamos</span>
            </a>
        </li>
        <li>
            <a href="/historiaAsm" ng-click="mostrarMenu()">
                <span class="fa fa-anchor solo">Historia de la empresa</span>
            </a>
        </li>
        <li>
            <a href="/historiaOlivo" ng-click="mostrarMenu()">
                <span class="fa fa-anchor solo">Historia del olivo</span>
            </a>
        </li>
        <li>
            <a href="/contacto" ng-click="mostrarMenu()">
                <span class="fa fa-anchor solo">Contacto</span>
            </a>
        </li>
        <li>
            <a href="/pedidos" ng-click="mostrarMenu()">
                <span class="fa fa-anchor solo">Haz tu pedido</span>
            </a>
        </li>
    </ul>
</nav>
