<p class="input-group">
    <input type="text" class="form-control" uib-datepicker-popup="{{format}}" is-open="opened"
           datepicker-options="dateOptions" close-text="Close" ng-readonly="ngReadonly"
           ng-click="openDatePicker($event)" ng-disabled="ngDisabled" ng-model="ngModel" required/>
    <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="openDatePicker($event)" ng-disabled="ngDisabled">
            <i class="glyphicon glyphicon-calendar"></i>
        </button>
    </span>
</p>
