<h3>Confirmación del pedido</h3>
<uib-progressbar class="progress-striped active" type="success">66 %</uib-progressbar>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-6 col-md-2"><h4>Resumen del pedido:</h4></div>
        <div class="col-xs-6 col-md-10"><a href="/pedidos#hagasupedido" class="btn btn-default">Cambiar</a></div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <catalogo-pedido catalogo="pedido.items" pedido="pedido" mode="mode"></catalogo-pedido>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-md-2"><h4>Datos del cliente:</h4></div>
        <div class="col-xs-6 col-md-10"><a href="/pedidos/detalles#detallescliente" class="btn btn-default">Cambiar</a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <user-details user="pedido.user" mode="mode"></user-details>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-md-2"><h4>Entrega y comentarios:</h4></div>
        <div class="col-xs-6 col-md-10"><a href="/pedidos/detalles#entregacomentarios"
                                           class="btn btn-default">Cambiar</a></div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <entrega-comentarios pedido="pedido" mode="mode"></entrega-comentarios>
        </div>
    </div>
    <button type="button" ng-click="print()">
        PRINT
    </button>
    <button type="button" class="btn btn-primary pull-right" ng-click="openConfirmationModal()">
        Confirmar
    </button>
</div>