<form role="form" name="registerForm" novalidate class="form-horizontal" ng-submit="register()">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" ng-click="close()">x</button>
            <h1 class="modal-title">Registrarse</h1>
        </div>
        <div class="modal-body">
            <div class="form-horizontal">
                <div class="form-group" ng-class="{ 'has-error': registerForm.nombre.$dirty && registerForm.nombre.$error.required }">
                    <label for="nombre" class="col-sm-3 control-label">Nombre</label>
                    <div class="col-sm-9">
                        <input type="text" name="nombre" id="nombre" class="form-control" ng-model="user.nombre" required />
                        <span ng-show="registerForm.nombre.$dirty && registerForm.nombre.$error.required" class="help-block">First name is required</span>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error': registerForm.apellidos.$dirty && registerForm.apellidos.$error.required }">
                    <label for="apellidos" class="col-sm-3 control-label">Apellidos</label>
                    <div class="col-sm-9">
                        <input type="text" name="apellidos" id="Text1" class="form-control" ng-model="user.apellidos" required />
                        <span ng-show="registerForm.apellidos.$dirty && registerForm.apellidos.$error.required" class="help-block">Last name is required</span>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error': registerForm.username.$dirty && registerForm.username.$error.required }">
                    <label for="username" class="col-sm-3 control-label">Nombre de usuario</label>
                    <div class="col-sm-9">
                        <input type="text" name="username" id="username" class="form-control" ng-model="user.username" required />
                        <span ng-show="registerForm.username.$dirty && registerForm.username.$error.required" class="help-block">Username is required</span>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error': registerForm.password.$dirty && registerForm.password.$error.required }">
                    <label for="password" class="col-sm-3 control-label">Password</label>
                    <div class="col-sm-9">
                        <input type="password" name="password" id="password" class="form-control" ng-model="user.password" required />
                        <span ng-show="registerForm.password.$dirty && registerForm.password.$error.required" class="help-block">Password is required</span>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error': registerForm.passwordRepeat.$dirty && registerForm.passwordRepeat.$error.required }">
                    <label for="passwordRepeat" class="col-sm-3 control-label">Confirmación password</label>
                    <div class="col-sm-9">
                        <input type="password" name="passwordRepeat" id="passwordRepeat" class="form-control" ng-model="user.passwordRepeat" required />
                        <span ng-show="registerForm.passwordRepeat.$dirty && registerForm.passwordRepeat.$error.required" class="help-block">Password is required</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" ng-disabled="registerForm.$invalid || dataLoading" class="btn btn-primary">Registrar</button>
            <a ng-click="close()" class="btn btn-link">Cancelar</a>
        </div>
    </div>
</form>
