<form role="form" name="registerForm" novalidate class="form-horizontal" ng-submit="register()">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" ng-click="close()">x</button>
            <h1 class="modal-title">Registrarse</h1>
        </div>
        <div class="modal-body">
            <div class="form-horizontal">
                <div class="form-group" ng-class="{ 'has-error has-feedback': isInvalidUserInput(registerForm.nombre)}">
                    <label for="nombre" class="col-sm-3 control-label">Nombre</label>
                    <div class="col-sm-9">
                        <input type="text" name="nombre" id="nombre" class="form-control" ng-model="user.nombre" required />
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error has-feedback': isInvalidUserInput(registerForm.username)}">
                    <label for="username" class="col-sm-3 control-label">Nombre de usuario</label>
                    <div class="col-sm-9">
                        <input type="text" name="username" id="username" class="form-control" ng-model="user.username" required />
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error has-feedback': isInvalidUserInput(registerForm.email)}">
                    <label for="email" class="col-sm-3 control-label">Email</label>
                    <div class="col-sm-9">
                        <input type="text" name="email" id="email" class="form-control" ng-model="user.email" required />
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error has-feedback': isInvalidUserInput(registerForm.password) || registerForm.password.$error.passwordVerify}">
                    <label for="password" class="col-sm-3 control-label">Password</label>
                    <div class="col-sm-9">
                        <input type="password" name="password" id="password" class="form-control" ng-model="user.password" required/>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error has-feedback': isInvalidUserInput(registerForm.passwordRepeat) || registerForm.passwordRepeat.$error.passwordVerify}">
                    <label for="passwordRepeat" class="col-sm-3 control-label">Confirmación password</label>
                    <div class="col-sm-9">
                        <input type="password" name="passwordRepeat" id="passwordRepeat" class="form-control" ng-model="user.passwordRepeat" required password-verify="user.password"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" ng-disabled="registerForm.$invalid || registerForm.passwordRepeat.$error.passwordVerify || registerForm.password.$error.passwordVerify" class="btn btn-primary">Registrar</button>
            <a ng-click="dismiss()" class="btn btn-link">Cancelar</a>
        </div>
    </div>
</form>
