<ng-form name="detallesPedidoForm" novalidate role="form" class="form-horizontal">
    <div class="form-group"
         ng-class="{'has-error has-feedback': isInvalidUserInput(detallesPedidoForm.deliveryAddress)}">
        <label for="deliveryAddress" class="col-sm-3 control-label">Dirección de entrega</label>
        <div class="col-sm-9">
            <input type="text" name="deliveryAddress" id="deliveryAddress" class="form-control"
                   ng-model="pedido.deliveryAddress" ng-disabled="isReadonly()" required/>
        </div>
    </div>
    <div class="form-group"
         ng-class="{'has-error has-feedback': isInvalidUserInput(detallesPedidoForm.date)}">
        <label for="date" class="col-sm-3 control-label">Fecha de entrega</label>
        <div class="col-sm-9">
            <date-picker name="date" id="date" ng-model="pedido.date" min-date="minDate"
                         datepicker-options="dateOptions" ng-readonly="true" ng-disabled="isReadonly()"
                         ng-required="true"></date-picker>
        </div>
    </div>
    <div class="form-group"
         ng-class="{'has-error has-feedback': isInvalidUserInput(detallesPedidoForm.date)}">
        <label for="time" class="col-sm-3 control-label">Hora de entrega</label>
        <div class="col-sm-9">
            <div uib-timepicker name="time" id="time" ng-model="pedido.date" ng-disabled="isReadonly()"
                 show-meridian="false" required></div>
        </div>
    </div>
    <div ng-hide="isEmptyAndReadonly(pedido.comments)" class="form-group" ng-class="{'has-error has-feedback': isInvalidUserInput(detallesPedidoForm.comments)}">
        <label for="comments" class="col-sm-3 control-label">Comentarios</label>
        <div class="col-sm-9">
                <textarea msd-elastic name="comments" id="comments" class="form-control" ng-disabled="isReadonly()"
                          ng-model="pedido.comments"
                          placeholder="Aquí puede escribir cualquier comentario en relación al pedido"></textarea>
        </div>
    </div>
</ng-form>