<html>
<body>
<p>Estimado ${user.name},</p>

<p>Recientemente usted ha enviado una solicitud para que le recordemos su password.</p>
<p>Su password es el siguiente: ${user.password}</p>

<p>Para cualquier otra consulta no dude en ponerse en contacto con nosotros. Espero que tenga un buen día.</p>

<p>Equipo Aceitunas Sánchez Montes</p>
</html>
</body>